<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml - This is like your app's "birth certificate"
    It tells Android:
    - What permissions your app needs (camera, location, etc.)
    - What activities (screens) your app has
    - What your app is called
    - What icon it should use
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        PERMISSIONS - Tell Android what features we need
        Users will be asked to approve these when they install/use the app
    -->

    <!-- Internet permission - Required for Google Vision API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Camera permission - Required to take photos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Microphone permission - Required for voice notes -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Location permissions - Required for GPS tracking -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Storage permissions - Required to save images -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <!-- Declare camera feature (optional, but good practice) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryAssistant"
        tools:targetApi="31">

        <!-- MainActivity - This is the first screen users see when they open your app -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MemoryAssistant">

            <!-- This makes MainActivity the "launcher" - the entry point of your app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FileProvider - Required for sharing files (camera photos) with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
