<?xml version="1.0" encoding="utf-8"?>
<!--
    AndroidManifest.xml - This is like your app's "birth certificate"
    It tells Android:
    - What permissions your app needs (camera, location, etc.)
    - What activities (screens) your app has
    - What your app is called
    - What icon it should use
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryAssistant"
        tools:targetApi="31">

        <!-- MainActivity - This is the first screen users see when they open your app -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MemoryAssistant">

            <!-- This makes MainActivity the "launcher" - the entry point of your app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
